<div class="container mt-5">
<h2 class='merriweather-bold' style='color: #006747;'>Editing Task</h2><br>

<%= render "form", task: @task %>
<div>
	<div id='showthistask1'><%= link_to "Show This Task", @task %></div>
	<div id='showthistask1'><%= link_to "Back To Tasks", tasks_path %></div>
</div>
</div>
