<div class="container text-center mt-03">
<h2 class='merriweather-bold' style='color: #006747;'>Your New Task</h2>
<div id='lil' class='merriweather-regular'>
<%= render "form", task: @task %></div>
<br>
<div>
  <button id='third'><%= link_to "Back To Tasks", tasks_path %></button>
</div>
</div>
