<div class="container mt-5">
<h2 class='merriweather-bold' style='color: #006747;'>Editing Consistent Task</h2><br>

<%= render "form", ctask: @ctask %>
<div>
	<div id='showthistask1'><%= link_to "Show This Consistent Task", @ctask %></div>
	<div id='showthistask1'><%= link_to "Back To Consistent Tasks", ctasks_path %></div>
</div>
</div>
