<div class="container text-center mt-03">
<h2 class='merriweather-bold' style='color: #006747;'>Your New Consistent Task</h2>
<div id='lil' class='merriweather-regular'>
<%= render "form", ctask: @ctask %></div>
<br>
<div>
  <button id='third'><%= link_to "Back To Consistent Tasks", ctasks_path %></button>
</div>
</div>
